name: Create Releases

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract version from tag
        id: extract_version
        run: echo "version=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Install required packagestg
        run: |
          sudo apt-get update
          sudo apt-get install -y p7zip-full

      - name: Extract .7z files
        run: |
          for file in *.7z.001*; do
            if [ -f "$file" ]; then
              7z x "$file" -aoa
            fi
          done

      - name: Pre-release
        run: echo "${{ github.sha }}" > Release.txt

      - name: Extract short name from github.ref
        id: tag_short
        run: echo "short=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          tag_name: ${{ github.ref }}
          name: ${{ steps.tag_short.outputs.short }}
          files: |
            _hanyudacidian-*.txt
            Release.txt
